// common stuff goes here

$font-stack:    Helvetica, sans-serif;
$primary-color: #333;

html, body {
  width: 100%;
  height: 100%;

  margin: 0;
  padding: 0;
}

body {
  font: 1.2em $font-stack;
  color: $primary-color;

  padding-top: 40px;
}

.page-host {
  padding: 5px;
}

.flex-container-rows {
  @include display(flex);
  @include flex-direction(column);
  @include justify-content(flex-start);
  @include align-content(stretch);
  @include align-items(stretch);
  @include align-self(stretch);
}

.flex-container-columns {
  @include display(flex);
  @include flex-direction(row);
  @include justify-content(flex-start);
  @include align-content(stretch);
  @include align-items(stretch);
  @include align-self(stretch);
}

.flex-fit {
  @include flex(1 0 auto);
}
